{% extends "base.html" %}

{% block title %}Club News{% endblock %}

{% block content %}

<article>
    <!-- Content -->
    <section class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-xl-10">
                <h2 class="text-center text-green">{{ post.title }}</h2>
                <p class=" px-1 text-grey">{{ post.content | safe }}
                </p>
            </div>
        </div>
    </section>

    <!-- Images -->
    <section class="container">
        <!-- feature img -->
        <div class="row d-flex justify-content-center mt-3">
            <div class="col-lg-8 col-xl-6">
                <a href="{{ post.featured_img.url }}" data-lightbox="post-images">
                    <img src="{{ post.featured_img.url }}" alt="{{ post.title }} image" class="img-fluid post-img">
                </a>
            </div>
        </div>

        <!-- Additional images -->
        <div class="row d-flex justify-content-center">
            {% if post.additional_img1 %}
            <div class="col-6 col-sm-4 col-lg-2 mt-3">
                <a href="{{ post.additional_img1.url }}" data-lightbox="post-images">
                    <img src="{{ post.additional_img1.url }}" alt="{{ post.title }} image"
                        class="img-fluid post-img post-details-thumb">
                </a>
            </div>
            {% endif %}

            {% if post.additional_img2 %}
            <div class="col-6 col-sm-4 col-lg-2 mt-3">
                <a href="{{ post.additional_img2.url }}" data-lightbox="post-images">
                    <img src="{{ post.additional_img2.url }}" alt="{{ post.title }} image"
                        class="img-fluid post-img post-details-thumb">
                </a>
            </div>
            {% endif %}

            {% if post.additional_img3 %}
            <div class="col-6 col-sm-4 col-lg-2 mt-3">
                <a href="{{ post.additional_img3.url }}" data-lightbox="post-images">
                    <img src="{{ post.additional_img3.url }}" alt="{{ post.title }} image"
                        class="img-fluid post-img post-details-thumb">
                </a>
            </div>
            {% endif %}

            {% if post.additional_img4 %}
            <div class="col-6 col-sm-4 col-lg-2 mt-3">
                <a href="{{ post.additional_img4.url }}" data-lightbox="post-images">
                    <img src="{{ post.additional_img4.url }}" alt="{{ post.title }} image"
                        class="img-fluid post-img post-details-thumb">
                </a>
            </div>
            {% endif %}

            {% if post.additional_img5 %}
            <div class="col-6 col-sm-4 col-lg-2 mt-3">
                <a href="{{ post.additional_img5.url }}" data-lightbox="post-images">
                    <img src="{{ post.additional_img5.url }}" alt="{{ post.title }} image"
                        class="img-fluid post-img post-details-thumb">
                </a>
            </div>
            {% endif %}
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-lg-10">
                <div class="post-subtitle text-right">Post created by <strong>{{ post.author }}</strong> on
                    {{post.created_on }}</div>
                <div class="text-right mt-1 text-lg likes-comment">
                    <strong> {{ post.number_of_likes }} <i class="far fa-thumbs-up"></i></strong>
                    <strong> {{ post.number_of_comments }} <i class="far fa-comments"></i></strong>
                </div>

                <hr class="custom-hr">
            </div>
        </div>

    </section>

    <!-- Comments -->
    <section class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Comments:</h2>
                <ul>
                    {% for comment in comments%}
                    <li>
                        <p>{{comment.comment_text}}</p>
                        <p class="text-right">Comment by <strong>{{comment.user.username}}</strong></p>
                        <hr class="custom-hr">
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>

</article>

{% endblock %}