{% extends "base.html" %}

{% block title %}Logout{% endblock %}

{% block content %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-5 text-green text-decoration-underline">
                <h1>Sign Out</h1>
            </div>
        </div>

        <div class="row">
            <div class="col mt-4 text-center">
                <p><strong>Are you sure you want to sign out?</strong></p>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}

                    <button class="btn btn-small mt-4" type="submit">Sign Out</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}