{% extends "base.html" %}

{% block title %}Create booking{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-4">
    <!-- Our Classes section -->
    <section>
        <div class="row justify-content-center">
            <div class="col-xl-7 col-md-10">
                <h1 class="text-center text-green">Our Classes</h1>
                <div class="px-1 text-grey">
                    <p>Here at Happy Little Artists we offer classes in terms. Each term consists of 10 weekly classes,
                        each 1 hour long. The classes will commence on the listed date and will be held on the same day
                        and time once a week for the following 9 weeks. Feel free to book mid term, don't worry you will
                        only be charged for the remaining classes.
                    </p>
                </div>

            </div>
        </div>
    </section>
    <!-- Booking form section -->
    <section>
        <div class="row justify-content-center mt-3">
            <div class="col-sm-10 col-lg-8 col-xl-6 bg-orange-rf rounded">
                <h2 class="text-center text-green mt-3 text-decoration-underline">Create an art class booking</h2>
                <!-- Booking form -->
                <form method="post" class="generated-forms">
                    {% csrf_token %}
                    {{form | crispy }}
                    <div class="text-center mt-3 mb-3">
                        <button type="submit" class="btn btn-small">Create booking</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>


{% endblock %}