{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class="container mt-4">
    <!-- Profile pic -->
    <section>
        <h1 class="text-uppercase text-green text-center">{{profile.user.username}}</h1>
        <div class="row justify-content-center">
            <div class="col text-center mt-2">
                {% if profile.profile_pic %}
                <img class="img profile-pic" src="{{ profile.profile_pic.url }}"
                    alt="{{profile.user.username}}'s profile picture">
                {% else %}
                <img class="img profile-pic"
                    src="https://res.cloudinary.com/dyr1n4krk/image/upload/v1703902268/media/p4/blank-profile-picture_qsqrmn.webp"
                    alt="Blank profile picture">
                {% endif %}
            </div>
        </div>
    </section>
    <!-- Profile editing -->
    <section>
        <div class="row justify-content-center">
            <!-- col 5 used as I use margins -->
            <div class="col-11 col-lg-5 bg-off-white rounded mt-5">
                <h2 class="text-green text-center text-decoration-underline mb-4 mt-3">User Information</h2>
                <p><strong>First Name:</strong> {{ profile.user.first_name }}</p>
                <p><strong>Last Name:</strong> {{ profile.user.last_name }}</p>
                <p><strong>Member Since:</strong> {{ profile.user.date_joined|date:"F d, Y" }}</p>
                <!-- Edit user info button -->
                {% if request.user == profile.user %}
                <div class="text-center mt-5 mb-3">
                    <a class="btn btn-small" href="{%url 'edit_user' profile.user.id%}">Edit your info</a>
                </div>
                {% endif %}
            </div>
            <div class="col-11 col-lg-5 ms-lg-5 bg-off-white rounded mt-5">
                <h2 class="text-green text-center text-decoration-underline mb-4 mt-3">About Me</h2>
                {% if profile.about_me %}

                <p>{{ profile.about_me | safe }}</p>
                <!-- Edit profile button -->
                {% if request.user == profile.user %}
                <div class="text-center mt-5 mb-3">
                    <a class="btn btn-small" href="{%url 'edit_profile' profile.id%}">Edit your profile</a>
                </div>
                {% endif %}

                {% else %}

                {% if request.user == profile.user %}

                <p class="mt-3 text-center"><strong>Please fill out your about me section</strong></p>
                <!-- Edit profile button -->
                {% if request.user == profile.user %}
                <div class="text-center mt-5 mb-3">
                    <a class="btn btn-small" href="{%url 'edit_profile' profile.id%}">Edit your profile</a>
                </div>
                {% endif %}

                {% else %}
                <p class="my-3 text-center"><strong>{{profile.user.username}} has no about me information</strong></p>
                {% endif %}

                {% endif %}
            </div>
        </div>
    </section>

    <!-- Bookings -->
    {% if request.user == profile.user %}
    <section>
        <h2 class="text-green text-center mt-5" id="my_bookings">My Bookings:</h2>
        {% if user_bookings %}
        <!-- Display as table or md screens up -->
        <div class="row d-none d-md-block mt-3 d-flex justify-content-center">
            <table class="table-responsive table-bordered text-center">
                <thead>
                    <tr class="bg-green text-off-white">
                        <th>Child's Name</th>
                        <th>Group</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Start Time</th>
                        <th>Length</th>
                        <th>Location</th>
                        <th>Status</th>
                        <th><i class="fa-solid fa-pen p-2"></i></th>
                        <th><i class="fa-solid fa-trash-can p-2"></i></th>
                    </tr>
                </thead>
                <tbody>
                    {% for booking in user_bookings %}
                    <tr>
                        <td class="p-1">{{ booking.child_name }}</td>
                        <td class="p-1">{{ booking.art_class.age_group }} yrs</td>
                        <td class="p-1">{{ booking.art_class.start_date }}</td>
                        <td class="p-1">{{ booking.art_class.end_date }}</td>
                        <td class="p-1">{{ booking.art_class.start_time }}</td>
                        <td class="p-1">{{ booking.art_class.duration }} hr</td>
                        <td class="p-1">{{ booking.art_class.location }}</td>
                        <td class="p-1">{{ booking.get_payment_status_display }}</td>
                        <td class="p-1">
                            <a href="{%url 'edit_booking' booking.id %}">
                                <i class="fa-solid fa-pen text-green p-2"></i>
                            </a>
                        </td>
                        <td>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#bookingDeleteModal{{ booking.id }}">
                                <i class="fa-solid fa-trash-can text-red p-2"></i>
                            </a>
                        </td>
                    </tr>
                    <!-- Generate a delete modal for each booking -->
                    <div class="modal fade" id="bookingDeleteModal{{ booking.id }}" tabindex="-1"
                        aria-labelledby="bookingDeleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-green" id="bookingDeleteModalLabel">Confirm
                                        Deletion</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">Delete this booking?</div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancel</button>
                                    <!-- use a form to post to the view so that I don't need to render a new template -->
                                    <form method="post" action="{% url 'delete_booking' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="booking_id" value="{{ booking.id }}">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Display bookings as cards on sm and md screens -->
        {% for booking in user_bookings %}
        <div class="row d-block d-md-none mt-3">
            <div class="col">
                <div
                    class="card {% cycle 'bg-yellow-f' 'bg-purple-f' 'bg-green-b-f' 'bg-orange-f' 'bg-blue-f' 'bg-red-f' %}">
                    <div class="card-body">
                        <h5 class="card-title text-center text-decoration-underline">{{booking.child_name}}
                        </h5>
                        <p class="card-text">
                            <strong>Age Group:</strong> {{booking.art_class.age_group}}<br>
                            <strong>Start Date:</strong> {{booking.art_class.start_date}}<br>
                            <strong>End Date:</strong> {{booking.art_class.end_date}}<br>
                            <strong>Start Time:</strong> {{booking.art_class.start_time}}<br>
                            <strong>Duration:</strong> {{booking.art_class.duration}} hour<br>
                            <strong>Location:</strong> {{booking.art_class.location}}<br>
                            <strong>Paid Status:</strong> {{booking.get_payment_status_display}}
                        </p>
                        <div class="text-center">
                            <h5 class="text-decoration-underline">Edit or Delete booking</h5>
                            <a href="{%url 'edit_booking' booking.id %}">
                                <i class="fa-solid fa-pen text-dark p-2"></i>
                            </a>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#bookingDeleteModalSm{{ booking.id }}">
                                <i class="fa-solid fa-trash-can text-dark p-2 ms-3"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Generate a delete modal for each booking card -->
        <div class="modal fade" id="bookingDeleteModalSm{{ booking.id }}" tabindex="-1"
            aria-labelledby="bookingDeleteModalSmLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-green" id="bookingDeleteModalSmLabel">Confirm
                            Deletion</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">Delete this booking?</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <!-- use a form to post to the view so that I don't need to render a new template -->
                        <form method="post" action="{% url 'delete_booking' %}">
                            {% csrf_token %}
                            <input type="hidden" name="booking_id" value="{{ booking.id }}">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

        {% else %}
        <!-- no bookings -->
        <div class="row col justify-content-center">
            <div class="col text-center">
                <p class="mt-3">You have not booked any classed yet.</p>
                <a href="{% url 'create_booking' %}" class="btn btn-small mb-3">Book now</a>
            </div>
        </div>

        {% endif %}

    </section>
    {% endif %}

    <!-- Liked posts -->
    <section>
        <h2 class="text-green text-center mt-5" id="liked_posts_section">My Liked Posts:</h2>
        {% if liked_posts %}
        <div class="row mt-3 d-flex justify-content-center news-posts">
            {% for post in liked_posts %}
            <div class="col-sm-10 col-md-5 col-lg-4 col-xl-3 d-flex position-relative">
                <article class="card border-secondary mb-4 flex-fill selectable-feedback">
                    <a href="{% url 'post_detail' post.slug %}">
                        <img src="{{ post.featured_img.url }}" class="img-fluid" alt="{{ post.title }}">
                        <div
                            class="position-absolute bottom-0 start-0 w-100 p-3 text-center {% cycle 'bg-purple-sf' 'bg-blue-sf' 'bg-red-d-sf' %}">
                            <h5 class="card-title mb-0">{{ post.title }}</h5>
                        </div>
                    </a>
                </article>
            </div>
            {% endfor %}
        </div>

        <!-- Paginate -->
        {% if liked_posts.has_other_pages %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if liked_posts.has_previous %}
                <li class="page-item"><a class="page-link" href=" ?page=1#liked_posts_section">&laquo; First</a></li>
                <li class="page-item"><a class="page-link"
                        href=" ?page={{liked_posts.previous_page_number}}#liked_posts_section">Prev</a></li>
                {% endif %}

                <div class="row d-none d-sm-block">
                    <div class="col">
                        <li class="page-item disabled"><a class="page-link" href=" #"> Page {{liked_posts.number}} of
                                {{liked_posts.paginator.num_pages}}</a></li>
                    </div>
                </div>

                {% if liked_posts.has_next %}
                <li class="page-item"><a class="page-link"
                        href=" ?page={{liked_posts.next_page_number}}#liked_posts_section">Next</a>
                </li>
                <li class="page-item"><a class="page-link"
                        href=" ?page={{liked_posts.paginator.num_pages}}#liked_posts_section">Last
                        &raquo</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}

        {% else %}
        <!-- no liked posts -->
        {% if request.user == profile.user %}
        <div class="row col justify-content-center">
            <div class="col text-center">
                <p class="mt-3">You have not liked any posts yet, <strong>check out our club news
                        section</strong>
                    to read
                    and like some posts.</p>
                <a href="{% url 'club_news' %}" class="btn btn-small mb-3">View club news</a>
            </div>
        </div>
        {% else %}
        <p class="my-3 text-center"><strong>{{profile.user.username}} has not liked any posts</strong></p>
        {% endif %}

        {% endif %}
    </section>
</div>

{% endblock %}