{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<!-- contact us -->
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-sm-10 col-lg-8 col-xl-6 bg-yellow-rf rounded">
            <h1 class="text-center text-green mt-3 text-decoration-underline">Contact Us</h1>
            <!-- Contact us form -->
            <form method="post" class="generated-forms">
                {% csrf_token %}
                {{form | crispy }}
                <div class="text-center mt-3 mb-3">
                    <button type="submit" class="btn btn-small">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}